body{
    background-color: blueviolet;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
   
    
}
.box{
    width: 200px;
    height:200px;
    background-color: aliceblue;
    margin:10px
 
}